.list-label {
  font-weight: bold;
}

.list-element {
  padding-right: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid black;
  text-align: center;
  width: 3em;
  height: 3em;
  font-weight: bold;
}

.list-row {
  margin-top: 3em;
  position: absolute;
}

#searchNumDiv {
  width: 100%;
}

#searchNumber {
  width: 55%;
}

#startSearchButton {
  width: 30%;
  margin-left: 1%;
}
